HELP.md
series.csv
games.csv
divisionTeamResults.csv
teamObjects.csv
tournaments.csv
.gradle
.DS_store
build/
src\main\resources\application.properties
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

backend/src/main/resources/application.properties
backend/src/main/resources/application.properties
backend/myapp.log

*.properties
WebScraper/src/main/resources/application.properties
